label{
    display: block;
}

.oculto{
    display: none;
}

#errores{
    padding: 1%;
    margin: 1.5%;
    border-radius: 10px;
    color: rgb(150, 0, 0);
    background-color: rgb(250, 78, 78);
    border: 2px solid rgb(150, 0, 0);
}